:root {
    --button-text-numbers: #728AB7;
    --background-colour: #F0F0F3;
    --equals-button-colour: #2DD3C5;
    --operator-button-colour: #745FF2;
    --thingy-button-colour: #898989;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    margin: 200px 200px 200px 200px;
    background-color: var(--background-colour);
    font-weight: bold;
}

.calculator {
    width: 400px;
    min-height: 500px;
    background-color: var(--background-colour);
    box-shadow: -10px -10px 40px 0px rgba(255, 255, 255, 1), 10px 10px 30px 0px rgba(174, 174, 192, 0.4);
    border-radius: 16px;
}

.calc-body {
    background-color: var(--background-colour);
    border-radius: 0px 0px 16px 16px;
}

.screen {
    background-color: black;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
    text-align: end;
    display: flex;
    justify-content: end;
    align-content:flex-end;
    flex-direction: column;
}

.calc-btn {
    height: 65px;
    width: 65px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: var(--background-colour);
    box-shadow: -10px -10px 24px 0px rgba(255, 255, 255, 0.6), 10px 10px 24px 0px rgba(174, 174, 192, 0.2);
    border-radius: 16px;
    font-size: 28px;
    color: var(--button-text-numbers);
    cursor: pointer;

}

.calc-btn.operator {
    color: var(--operator-button-colour);
}

.calc-btn.thingy {
    color: var(--thingy-button-colour);
}

#equals {
    background-color: var(--equals-button-colour);
    color: white;
    box-shadow: -10px -10px 24px 0px rgba(255, 255, 255, 1), 10px 10px 24px 0px rgba(174, 174, 192, 0.35);
}

#current {
    color: white;
    font-size: 45px;
    border: none;
    background-color: transparent;
    font-weight: bold;
}

#current:focus {
    outline: none;
}

#previous {
    color: var(--button-text-numbers);
    font-size: 28px;
}